<div>
  <div class="mr-auto flex w-full flex-row items-baseline justify-between sm:flex-col">
    <span class="text-2xl font-bold">Events</span>
    <span class="text-sm text-gray-600">Partaj och annat skoj</span>
  </div>

  <div class="grid grid-cols-1 gap-8 pt-4 md:grid-cols-2 lg:grid-cols-3">
    <.event_card :for={event <- @events} event={event} />
  </div>
</div>
