<h3 class="text-5xl">Events</h3>

<.online_count online_count={@online_count} />

<div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
  <.event_card :for={event <- @events} event={event} />
</div>
