<div class="w-full">
  <h3 class="text-5xl"><%= @event.name %></h3>
  <p><%= @event.description %></p>
  <img
    src="https://biljettsystem.salamon.xyz/serve-static/images/tiktok.jpg"
    alt={"Picture of #{@event.name}"}
    class="w-full"
  />
</div>
