<.table rows={@members}>
  <:col let={member} label="Namn">
    <%= link "#{member.first_name} #{member.last_name}", to: Routes.user_path(HajWeb.Endpoint, :index, member.username), class: "font-bold"%>
  </:col>
  <:col let={member} label="KTH-id">
    <%= member.username %>
  </:col>
  <:col let={member} label="Telefonnr">
    <%= member.phone %>
  </:col>
  <:col let={member} label="Email">
    <%= member.email %>
  </:col>
</.table>