<.form :let={f} for={@changeset} action={@action} class="flex flex-col">
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, något gick fel, kolla på felen nedan.</p>
    </div>
  <% end %>

  <%= label(f, "Namn", class: "pt-2 pb-1") %>
  <%= text_input(f, :name) %>
  <%= error_tag(f, :name) %>

  <div>
    <%= submit("Spara",
      class: "mt-4 py-2 px-4 my-2 rounded-sm bg-burgandy-500 text-white self-end text-lg uppercase"
    ) %>
  </div>
</.form>
