<div class="flex flex-col gap-4 md:flex-row">
  <div class="flex-grow-[1]">
    <._side_bar user={@current_user} conn={@conn} />
  </div>
  <div class="flex-grow-[3]">
    <.order_item_form
      action={Routes.dashboard_path(@conn, :edit_order_item, @order_item)}
      changeset={@changeset}
    />
  </div>
</div>
