export OIDC_PROVIDER=https://sso.datasektionen.se/op
export OIDC_ID=haj
export OIDC_SECRET=VERY_SECRET_OIDC_SECRET
export OIDC_REDIRECT_URL=http://localhost:4000/login/callback
export OIDC_SCOPES="openid profile email"
export IMGPROXY_KEY=KINDA_SECRET_KEY
export IMGPROXY_SALT=KINDA_SECRET_SALT
export AWS_ACCESS_KEY_ID=VERY_VERY_SECRET_KEY
export AWS_SECRET_ACCESS_KEY=VERY_VERY_SECRET_SECRET
export AWS_LOCAL=false
export API_LOGIN_SECRET=VERY_SECRET_AND_LONG_API_SECRET
export ZFINGER_URL=https://zfinger.datasektionen.se
export SPAM_API_KEY=VERY_SECRET_SPAM_API_KEY 
export IMAGE_URL=https://url-to-your-imgproxy-instance.com