<div class="flex flex-col gap-4 md:flex-row">
  <div class="flex-grow-[1]">
    <%= render("_side_bar.html", show_group: @show_group, conn: @conn) %>
  </div>
  <div class="flex-grow-[3]">
    <%= render("_members.html",
      show_group: @show_group,
      members: @show_group.group_memberships,
      conn: @conn
    ) %>
  </div>
</div>
