<div class="flex flex-col gap-4 md:flex-row">
  <div class="flex-grow-[1]">
    <._side_bar show_group={@show_group} conn={@conn} />
  </div>
  <div class="flex-grow-[3]">
    <._members show_group={@show_group} members={@show_group.group_memberships} conn={@conn} />
  </div>
</div>
