    <.table rows={@groups}>
      <:col let={show_group} label="Grupp">
        <%= link "#{show_group.group.name}", to: Routes.group_path(HajWeb.Endpoint, :group, show_group.id)%>
      </:col>
      
    </.table>