<div class="flex flex-col gap-4 md:flex-row">
  <div class="flex-grow-[1]">
    <._side_bar user={@user} conn={@conn} />
  </div>
  <div class="flex-grow-[3]">
    <._user_info user={@user} conn={@conn} />
  </div>
</div>
