<div class="flex flex-col">
    <div class="px-3 py-2 bg-gray-100 uppercase font-bold">Merch</div>
    <div class="px-3 py-2 border-b border-gray-300"><%= link "Beställningar", to: Routes.merch_admin_path(@conn, :orders, @show) %></div>
    <div class="px-3 py-2 border-b border-gray-300"><%= link "Administera", to: Routes.merch_admin_path(@conn, :index, @show) %></div>
</div>
