<div class="flex flex-col gap-4 md:flex-row">
  <div class="flex-grow-[1]">
    <._side_bar conn={@conn} show={@show} />
  </div>
  <div class="flex-grow-[3]">
    <._form {Map.put(assigns, :action, Routes.merch_admin_path(@conn, :edit, @merch))} />
  </div>
</div>
